.converter-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  .timestamp-select {
    width: 80px;
  }

  .converter-item {
    width: 50%;
    position: relative;

    .label {
      color: #666;
      margin-bottom: 10px;
      font-size: 12px;
      position: relative;
      left: 2px;
    }
  }

  .convert-btn {
    margin: 0 20px;
  }
}
