.todo-list {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 860px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .todo-item-row {
    cursor: pointer;
  }

  .selected-todo-item-row {
    background-color: #e6f4ff;
    cursor: pointer;
  }

  .high-priority-row {
    background-color: rgba(254, 240, 238, 0.5);
  }

  .middle-priority-row {
    background-color: rgba(254, 250, 228, 0.5);
  }

  .ant-slider {
    margin: 0;
  }

  .action-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .left-actions-wrapper,
    .right-actions-wrapper {
      margin-bottom: 20px;
    }

    .create-todo-input {
      height: 36px;
      line-height: 36px;
    }
  }

  .ant-table-wrapper {
    .ant-pagination {
      position: fixed;
      bottom: 0px;
      background-color: #fff;
      margin: 0;
      width: calc(100% - 320px);
      box-sizing: border-box;
      padding: 16px;
      right: 20px;
    }
  }

  .ant-table-body {
    overflow-y: auto !important;

    // 滚动条宽度
    &::-webkit-scrollbar {
      width: 8px !important;
    }

    &::-webkit-scrollbar-track {
      background-color: #f2f2f2;
      border-radius: 4px !important;
    }

    // 滚动条滑块样式
    &::-webkit-scrollbar-thumb {
      background-color: #d2d2d2;
      border-radius: 4px;
    }
  }

  .ant-table-cell {
    .ant-tag {
      font-size: 12px !important;
    }
  }
}

.priority-popover-container {
  .ant-tag {
    margin-inline-end: 0;
  }
}

.progress-popover-container {
  // display: flex;

  // .ant-slider {
  //   width: 170px;
  //   margin-left: 10px;
  //   margin-right: 10px;
  // }

  // .frown-icon,
  // .smile-icon {
  //   cursor: pointer;
  //   transition: all 0.25s linear;
  //   color: #ccc;

  //   &:hover {
  //     transform: scale(1.2);
  //   }
  // }

  // .smile-icon {
  //   color: #70bf3f;
  // }
}
