.todo-list {
  position: relative;
  flex: 1;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  min-width: 860px;
  overflow: auto;

  .todo-item-row {
    cursor: pointer;
  }

  .selected-todo-item-row {
    background-color: #e6f4ff;
    cursor: pointer;
  }

  .ant-slider {
    margin: 0;
  }

  .action-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .left-actions-wrapper,
    .right-actions-wrapper {
      margin-bottom: 20px;
    }

    .create-todo-input {
      height: 36px;
      line-height: 36px;
    }
  }
}
